<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppLeitour"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <uses-library android:name ="org.apache.http.legacy" android:required ="false"/>
        <activity
            android:name=".Controller.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mainQuotes"
            android:exported="false"
            android:label="@string/title_activity_main_quotes"
            android:theme="@style/Theme.AppLeitour.NoActionBar" />
        <activity
            android:name=".Controller.CadastrarActivity"
            android:exported="true" />
        <activity
            android:name=".Controller.AnnotationActivity"
            android:exported="true" />
        <activity
            android:name=".Controller.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Controller.BookActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.SavedActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.MainActivity"
            android:exported="true">

        </activity>

        <receiver android:name=".SimpleAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
    </application>

</manifest>